<h1>Pueblos Magicos del estado de Hidalgo</h1>
<div class="navbar-w rapper">
<div class="containercarrusel">
    	<div id="carousel">
			<figure><img src="../static/imgweb/fondo2huasca.jpg" width="290" height="250" alt=""></figure>
			<figure><img src="../static/imgweb/minchico.jpg" width="290" height="250" alt=""></figure>
			<figure><img src="../static/imgweb/prismas1.png" width="290" height="250" alt=""></figure>
			<figure><img src="../static/imgweb/fondoinicio4.jpg" width="290" height="250" alt=""></figure>
			<figure><img src="../static/imgweb/huasca.png" width="290" height="250" alt=""></figure>
			<figure><img src="../static/imgweb/realdelmonte.jpg" width="290" height="250" alt=""></figure>
			<figure><img src="../static/imgweb/huichapan.jpg" width="290" height="250" alt=""></figure>
			<figure><img src="../static/imgweb/iglesia.jpg" width="290" height="250" alt=""></figure>
			<figure><img src="../static/imgweb/tecozautla.jpg" width="290" height="250" alt=""></figure>
		</div>
	</div>
</div>
<br>
<br/>
<br>
<br/>
<br>
<br/>
<br>
<br/>
<br>
<br/>
<div class="col-lg-4">
          <img class="img-circle" src="../static/imgweb/fondo2huasca.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Huasca de Ocampo</h2>
    <p>Si te gustan las construcciones majestuosas y antiguas, este es el lugar para ti. Huasca guarda en sus alrededores: la Hacienda de Santa María Regla, la de San Juan Hueyapan y la Ex Hacienda de San Miguel Regla. En sus terrenos se procesaban los materiales extraídos de las minas y se sembraban los alimentos que consumía la población.</p>
    <p>A lo lejos aún se alcanza a ver la columna de la Hacienda San Antonio Regla, la cual quedó sumergida después de construirse una presa hidroeléctrica. Excelente lugar para tomar fotografías de la construcción que quedo atrapada en medio del agua.</p>
    <p>¡Visita Huasca de Ocampo!</p>
          <p><a class="btn btn-default" href="/huasca" role="button">leer más &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
<div class="col-lg-4">
          <img class="img-circle" src="../static/imgweb/realdelmonte.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Real del Monte</h2>
          <p>Seguramente este es el Pueblo Mágico más famoso del estado de Hidalgo, en sus calles aún se respira la influencia de la colonia inglesa que algún tiempo habitó entre sus pobladores en la bonanza de la minería de plata. Los lugares de interés más importantes son el Panteón Inglés, El Museo Casa Grande, la Parroquia de Nuestra Señora del Rosario y el Museo de Medicina, este último es todo un viaje al pasado cuando las enfermedades eran provocados por los gases tóxicos de las minas.</p>
          <P>¡Visita Real del Monte!</P>
          <p><a class="btn btn-default" href="#" role="button">leer más &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
<div class="col-lg-4">
          <img class="img-circle" src="../static/imgweb/mineraldelchico.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Mineral del Chico</h2>
          <p>Parece curioso que cada domingo de resurrección la Iglesia de la Purísima Concepción se inunda de rosas las cuales son arrojadas desde la cúpula por decenas de jóvenes. Se trata de la lluvia de pétalos, un evento que festeja la victoria de Cristo sobre la muerte. Esta es una de las encantadoras tradiciones que hacen de Mineral del Chico, uno de los pueblos más arraigados a sus costumbres.

          Sin embargo, no es por eso que Mineral del Chico es reconocido, lo que más llama la atención es su centro ecoturístico en donde deportistas de todas las edades acuden “al Chico” atraídos por las distintos senderos, cascadas y caminos de terracería. Por eso es considerado un paraíso de aventura.</p>
          <P>¡Visita Mineral del Chico!</P>
          <p><a class="btn btn-default" href="#" role="button">leer más &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
<div class="col-lg-4">
          <img class="img-circle" src="../static/imgweb/huichapan.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Huichapan</h2>
          <p>Este lugar es como de cuento, lo primero que se te vendrá a la cabeza al llegar a Huichapan es ¿Cómo existe un lugar tan bello que es tan poco conocido? Y es que es muy fácil enamorarse de sus calles empedradas, las casonas virreinales y las artesanías de cantera. Es considerada una de las poblaciones más bellas del centro del país.</p>
          <p>¡Visita Huichapan!</p>
          <p><a class="btn btn-default" href="#" role="button">Leer más &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
<div class="col-lg-4">
          <img class="img-circle" src="../static/imgweb/tecozautla.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Tecozautla</h2>
          <p>¿Sabías que existe un géiser natural a tan solo dos horas de la Ciudad de México?, ¿No? Pues ya va siendo hora de que lo conozcas, se trata de una impresionante columna de vapor caliente que emana de las entrañas de la tierra ¡Todo un verdadero espectáculo! Se encuentra dentro del balneario llamado, como era de esperarse, “El Géiser”.</p>
          <p>¡Visita Tecozautla!</p>
          <p><a class="btn btn-default" href="#" role="button">Leer más &raquo;</a></p>
        </div><!-- /.col-lg-4 -->