<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <div class="page-header text center">
                <h1>Iniciar Sesión</h1>       
            </div>
            <form class="form-signin" method="post" action="">
                <label for="user" class="sr-only">User</label>
                <input type="text" name="account_name" class="form-control" placeholder="User name" required autofocus>
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" class="form-control" placeholder="password" required>
                <input type="submit" class="btn btn-lg btn-primary btn-block" values="Iniciar Sesion">
            </form>
            <h2 class="form-signin-heading"><a href="/new">Registrarse</a></h2>
        </div>
    </div>
</div>